{% extends './base.html' %}
{% block content %}
<div class="container mimin-wrapper">
    <div class="col-md-12" style="margin-top: 100px;">
        <div class="col-md-12" style="padding: 20px;">
           
    <div class="table-responsive">
            <table class="table table-bordered" style="background-color: aqua; border: 1px solid black;">
              <thead>
                <tr>
                  
                  {% for store in stores %}
                  <th>{{store.body}}</th>
                  <!-- {% if 5 == current %}
                  <br>
                  {%endif%} -->
                  {% endfor%}
                </tr>
              </thead>
              <tbody>
                <tr>
            
                  <td>Table cell</td>
                  <td>Table cell</td>
                  <td>Table cell</td>
                  <td>Table cell</td>
                  <td>Table cell</td>
                </tr>
                <tr>
                
                  <td>Table cell</td>
                  <td>Table cell</td>
                  <td>Table cell</td>
                  <td>Table cell</td>
                  <td>Table cell</td>
                </tr>
                <tr>
            
                  <td>Table cell</td>
                  <td>Table cell</td>
                  <td>Table cell</td>
                  <td>Table cell</td>
                  <td>Table cell</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
</div>



{% endblock %}

</html>