<h1>사장님 회원가입 지도</h1>

<br>
<br>
<br>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>주소로 장소 표시하기</title>
    
</head>
<body>

<div id="map" style="width:350px;height:350px;"></div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=938f08b903325ff6b87e97c748a79527&libraries=services"></script>

<input type="text" id="input"><br>
<button onclick="addressf()">입력받기</button>


<script type="text/javascript">

var temp;

function addressf(){
    var input = document.getElementById("input").value;
    temp=input;
    // window.alert(temp);
    geocoder.addressSearch(temp, function(result, status){
        if (status === kakao.maps.services.Status.OK) {
        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
        marker.setMap(map);

        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        map.setCenter(coords);
        window.alert("가게 위치에 클릭해주세요.")
    } 
    });
}

var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = {
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 첫화면 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };  
// 지도를 생성합니다
var map = new kakao.maps.Map(mapContainer, mapOption); 
var geocoder = new kakao.maps.services.Geocoder();

// searchAddrFromCoords(map.getCenter(), displayCenterInfo);

var marker = new kakao.maps.Marker({
    position: map.getCenter()
        }),infowindow=new kakao.maps.InfoWindow({zindex:1});

// searchAddrFromCoords(map.getCenter(), displayCenterInfo);

marker.setMap(map);
// searchAddrFromCoords(map.getCenter(), displayCenterInfo);
kakao.maps.event.addListener(map, 'click', function(mouseEvent) {        
    
    var latlng= mouseEvent.latLng;

    //마커 위치를 클릭한 위치로 옮깁니다
    marker.setPosition(latlng);

    // searchAddrFromCoords(latlng.toString(), displayCenterInfo);

    abc=latlng.toString();
    window.alert('클릭한 위치의 위도는'+abc+'입니단');

    //  searchDetailAddrFromCoords(mouseEvent.latLng, function(result, status) {
    //      if (status === kakao.maps.services.Status.OK) {
    //          var detailAddr =result[0].road_address.address_name
    //          abc2=detailAddr.toString();
    //          window.alert('클릭한 위치의 주소는'+abc2+'입니다');
    //      }
            
    //         var content = '<div class="bAddr">' +
    //                         '<span class="title">법정동 주소정보</span>' + 
    //                         detailAddr + 
    //                     '</div>';

    //         // 마커를 클릭한 위치에 표시합니다 
    //         marker.setPosition(mouseEvent.latLng);
    //         marker.setMap(map);

    //         // 인포윈도우에 클릭한 위치에 대한 법정동 상세 주소정보를 표시합니다
    //         infowindow.setContent(content);
    //         infowindow.open(map, marker);
    //     }   
    // });

});
// // 주소-좌표 변환 객체를 생성합니다
// kakao.maps.event.addListener(map, 'idle', function() {
//     searchAddrFromCoords(map.getCenter(), displayCenterInfo);
// });

// function searchAddrFromCoords(coords, callback) {
//     // 좌표로 행정동 주소 정보를 요청합니다
//     geocoder.coord2RegionCode(coords.getLng(), coords.getLat(), callback);         
// }

function searchDetailAddrFromCoords(coords, callback) {
    // 좌표로 법정동 상세 주소 정보를 요청합니다
    geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
}

// // 지도 좌측상단에 지도 중심좌표에 대한 주소정보를 표출하는 함수입니다
// function displayCenterInfo(result, status) {
//     if (status === kakao.maps.services.Status.OK) {
//         var infoDiv = document.getElementById('centerAddr');

//         for(var i = 0; i < result.length; i++) {
//             // 행정동의 region_type 값은 'H' 이므로
//             if (result[i].region_type === 'H') {
//                 infoDiv.innerHTML = result[i].address_name;
//                 break;
//             }
//         }
//     }    
// }
</script>
</body>
</html>

가게위치를 등록해주세요


